table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.lyric-scroll {
    height: 300px;          
    width: 300px;           
    overflow-y: auto;      
    white-space: pre-line; 
    padding: 10px;          
}