table {
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed; 
    width: 500px;       
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
#pic {
    width: 150px;
    height: 150px;
    display: block;
}
#header {
    text-align: center;
}