body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; 
    color: #333;
    margin: 20px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    
    border: 1px solid #837777;
}

td {
    vertical-align: middle; 
    padding: 10px;
}

input[type="reset"], input[type="submit"] {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}

input[type="reset"] {
    background-color: #f44336; 
}
input[type="submit"] {
    background-color: #4CAF50; 
}